body  {
	margin: 0;
}

.header {
	width: 100%;
	background: linear-gradient(#E0C2FF, #F3E7FF); /* Standard syntax */
	background-color: #B894FF;
	height: 15%;
}

.stemmeHeader {
	font-size: 35px;
	padding-top: 10px;
	padding-left: 10px;
	font-weight: bold;
	font-family: 'Helvetica';
	float: left;
}