.header {
	width: 100%;
	background-color: #B894FF;
	height: 15%;
}

.stemmeHeader {
	font-size: 35px;
	padding-top: 10px;
	padding-left: 10px;
	font-weight: bold;
	font-family: 'Roboto Slab', serif;
	float: left;
}